:root {
  --accent-blue: #2196f3;
  --accent-btn-blue: #188ce8;
  --black: #000;
  --white: #fff;
  --white-transparent: rgba(255, 255, 255, 0.6);
  --color-footer: #2f303a;
  --color-title: #212121;
  --color-desc: #757575;
  --color-header-adress: #757575;
  --bg-color-main: #2f303a;
  --bg-color-secondary: #f5f4fa;
  --color-border: #eeeeee;
  --header-border: #ececec;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

/* Header */

.header {
  border-bottom: 1px solid var(--header-border);
}

.header-container {
  padding: 24px 0 25px;
}

.navigation {
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-blue);
  margin-right: 93px;
}

.logo > span {
  color: var(--black);
}

.header-navigation-link {
  display: flex;
  margin-right: auto;
}

.navigation-link {
  color: var(--color-title);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-blue);
}

.header-navigation-link > li:not(:last-child) {
  margin-right: 50px;
}

.header-address {
  display: flex;
}

.header-link-address {
  color: var(--color-header-adress);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link-address:hover,
.header-link-address:focus {
  color: var(--accent-blue);
}

.header-link-address:not(:last-child) {
  margin-right: 50px;
}

.current-page {
  color: var(--accent-blue);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Main */

.hero-section {
  background-color: var(--bg-color-main);
  color: var(--white);
  padding: 200px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 100%;
  max-width: 696px;
  margin: 0 auto 30px;
}

.main-button {
  background-color: var(--accent-blue);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--accent-btn-blue);
}

.title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.subtitle {
  margin-bottom: 10px;
  color: var(--color-title);
}

.desc {
  color: var(--color-desc);
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 0px;
}

.talant-section {
  padding: 94px 0;
}

.talant-list {
  display: flex;
}

.talant-item {
  width: 100%;
  max-width: 270px;
}

.talant-item:not(:last-child) {
  margin-right: 30px;
}

.talant-section .subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;

  text-transform: uppercase;
}

.work-section {
  padding-bottom: 94px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-list {
  display: flex;
}

.team-section {
  background-color: var(--bg-color-secondary);
  padding: 94px 0;
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-section .subtitle {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team-section .desc {
  text-align: center;
}

.team-person {
  background-color: var(--white);
  width: 270px;
  margin-top: -4px;
  padding: 30px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Footer */

.footer {
  background-color: var(--bg-color-main);
  padding: 60px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-blue);
}

.footer-logo > span {
  color: var(--white);
}

.footer-link {
  color: var(--white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-blue);
}

.footer-link-address {
  color: var(--white-transparent);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link-address:hover,
.footer-link-address:focus {
  color: var(--accent-blue);
}

/* Portfolio Main */

.portfolio-section {
  padding: 94px 0;
}

.portfolio-list-btn {
  display: flex;
  justify-content: center;
}

.portfolio-list-btn > li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  background-color: var(--bg-color-secondary);
  color: var(--color-title);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  margin-bottom: 50px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-blue);
  color: var(--white);
  padding: 6px 25px;
}

.portfolio-section .subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-section .desc {
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: 100%;
  max-width: 370px;
}

.portfolio-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-list-desc {
  border: 1px solid var(--color-border);
  border-top: 0;
  padding: 20px 24px;
}
